
<div class="page page-table" ng-controller="TaskKindCtrl">

    <div class="row ui-section">
    <div class="col-md-12">
        <div class="col-md-8 clearfix">
            <h2 class="section-header">资源列表</h2>
        </div>
        
    </div>
    <div class="col-md-12">
        <section class="panel panel-default table-dynamic">
          <div class="table-filters">
            <div class="row">
            <div class="col-sm-12 col-xs-12" >
                <form class="taskKind_list_header">

                    <!--<label class="col-sm-2 col-xs-2">
                                <span >发票类型:</span>
                                <select data-ng-model="type" class="border-radius-5 border-default ml-10 input-default input-w-50" data-ng-change="search()">
                                    <option value="">全部</option>
                                    <option value="1">个人</option>
                                    <option value="2">公司</option>
                                </select>
                    </label>

                    
                   <label class="col-sm-2 col-xs-2">
                        <span >纳税人识别号:</span>
                        <input type="text" id="userId" class="border-radius-5 border-default ml-10 input-default input-w-30"
                        data-ng-model="number" data-ng-keyup="search()">
                    </label> 

                    <label class="col-sm-2 col-xs-2">
                        <span>手机号:</span>
                        <input type="text" id="userName" class="border-radius-5 border-default ml-10 input-default input-w-30"
                        data-ng-model="mobile" data-ng-keyup="search()">
                    </label>

                    <label class="col-sm-2 col-xs-2">
                        <span>发票抬头:</span>
                        <input type="text" id="realName" class="border-radius-5 border-default ml-10 input-default input-w-30"
                        data-ng-model="title" data-ng-keyup="search()">
                    </label>-->

                    <!-- <label class="col-sm-3 col-xs-3">
                                <span >地区:</span>
                                <select data-ng-model="provinceCode" class="border-radius-5 border-default ml-10 input-default input-w-50" data-ng-change="search()">
                                    <option value="">全部</option>
                                    <option data-ng-repeat="province in provinces" value="{{province.provinceCode}}">{{province.provinceName}}</option>
                                </select>
                    </label>

                    <label class="col-sm-3 col-xs-3">
                                <span >请求时间:</span>
                               <input type="text" id="authDate" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})" class="border-radius-5 border-default ml-10 input-default input-w-50"
                        data-ng-model="feedBackDate"  data-ng-keyup="search()" data-ng-change="search()">
                    </label>
 -->
                    <label class="col-sm-6 col-xs-6">
                                <span >状态:</span>
                                <select data-ng-model="status" class="border-radius-5 border-default ml-10 input-default input-w-50" data-ng-change="search()">
                                    <option value="">全部</option>
                                    <option value="1">上架</option>
                                    <option value="2">下架</option>
                                </select>
                    </label>



                    <!-- <label class="col-sm-3 col-xs-4">
                        <span>用户账号:</span>
                        <input type="text" id="userId" class="border-radius-5 border-default ml-10 input-default input-w-50"
                        data-ng-model="kwTitle" data-ng-keyup="search()">
                    </label> -->
                </form>
            </div>

            <div class="col-md-4 clearfix">
                <!-- <a class=" md-primary add-product" href="#/taskKind/taskKind-add">添加任务品类</a> -->
                <!-- <a class=" md-primary add-product"  ng-click="deleteList(1)" >审核通过</a>
                <a class=" md-primary add-product"  ng-click="deleteList(2)" >审核不通过</a> -->
            </div>
            
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
            <!-- <th><div class="th">
                <md-checkbox ng-click="selectAll()" ng-checked="isSelectedAll">全选</md-checkbox>
                </div></th> -->
               <!--  <th><div class="th">
                序号
                </div></th> -->
                <th><div class="th">
                ID
                </div></th>
                <th><div class="th">
                内容
                </div></th>
               <!--  <th><div class="th">
                发票种类
                </div></th> -->
                <th><div class="th">
                类型
                </div></th>
                <!-- <th><div class="th">
                认证类型
                </div></th> -->
                <th><div class="th">
                状态
                </div></th>
                <!--<th><div class="th">
                纳税人识别号
                </div></th>

                 <th><div class="th">
                手机号
                </div></th>

                 <th><div class="th">
                电子邮箱
                </div></th>

                 <th><div class="th">
                发票邮寄地址
                </div></th>

                 <th><div class="th">
                收件人
                </div></th>

                <th><div class="th">
                状态
                </div></th>-->
                <!-- <th><div class="th">
                创建时间
                </div></th> -->
                <th><div class="th">
                操作
                </div></th>
            </tr>

            </thead>
            <tbody>
              <tr data-ng-repeat="store in currentPageStores" class="delete-{{store.id}}">
                <!-- <td> <md-checkbox ng-click="selectItem(store.userId)" ng-checked="selected[store.userId]"></md-checkbox></td> -->
                <td ng-bind="store.id"></td>
                <td ng-bind="store.content"></td>
                <td>
                    <p ng-show="store.type==1">仁者乐山</p>
                    <p ng-show="store.type==2">智者乐水</p>
                    <p ng-show="store.type==3">桥梁建筑</p>
                    <p ng-show="store.type==4">其他</p>
                </td>
                
                <td>
                    <p ng-if="store.status==1">上架</p>
                    <p ng-if="store.status==2">下架</p>
                </td>
                <!-- <td ng-bind="store.realName"></td>

                <td> <img class="showImg" ng-src="{{store.imageUrl}}" alt=""></td>
                <td> <img class="showImg" ng-src="{{store.showImageUrl}}" alt=""></td>
                <td ng-bind="store.maxmember"></td>
                <td ng-bind="store.isOpenDrink | isDoing"></td>
                <td ng-bind="store.isOpenAnonymity | isDoing"></td>
                <td ng-bind="store.createdDate | date:'yyyy-MM-dd HH:mm:ss'"></td> -->          
                <td class="opertation">
                    <!-- <a href="#/taskKind/taskKind-change?id={{store.userId}}">编辑</a> -->
                    <a href="" ng-click="deleteTaskKind(store.id,1)" ng-show="store.status==2">上架</a>
                    <a href="" ng-click="deleteTaskKind(store.id,2)" ng-show="store.status==1">下架</a>
                    <!-- <a href="#/taskKind/taskKind-detail?id={{store.userId}}">详情</a> -->
                   <!--  <a href="#/taskDuration/taskDuration-list?id={{store.userId}}">时长</a>
                    <a href="#/taskReward/taskReward-list?id={{store.userId}}">打赏</a> -->
                </td>
              </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                显示 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select>
                条 
                当前页{{filteredStores.length}}条/总{{total}}条
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="total"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>
<style>
    .birthInput{
        width: 100px;
    }

    .product-buyer-name {
        max-width: 110px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>