<section class="page-form-ele page" ng-controller="TaskKindchangeCtrl">


    <div class="row ui-section">
        <div class="col-lg-8 clearfix"> <h2 class="section-header">应用详情</h2> </div>

        <div class="col-md-4"> 
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">返回</md-button><div class="divider"></div>
        </div>
<!-- 
        <div class="col-md-4"> 
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">推荐</md-button><div class="divider"></div>
        </div>

        <div class="col-md-4"> 
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">更新安装包</md-button><div class="divider"></div>
        </div>
 -->
        
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row banner-detail" >
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm">

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">平台</label>
                                            <div class="col-sm-9">
                                                 <select  class="form-control" data-ng-model="platform" disabled>
                                                    <option value="1" ng-selected="app.plateform==1">移动应用Android</option>
                                                    <option  value="2" ng-selected="app.plateform==2">移动应用IOS</option>
                                                </select> 
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">应用名称：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="adminPsd" ng-model="app.name" disabled>
                                            </div>
                                        </div>

                                        


                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">安装包名：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="adminPsd" ng-model="last.packageName" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">版本名称：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="adminPsd" ng-model="last.versionName" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">版本号：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="adminPsd" ng-model="last.versionNumber" disabled>
                                            </div>
                                        </div>

                                        
                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">软件分类</label>
                                            <div class="col-sm-9">
                                                 <input class="form-control" class="adminPsd" ng-model="appType.typeName" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">个性推荐语：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="adminPsd" ng-model="app.personalRecommend" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">资质许可证明：</label>
                                            <div class="col-sm-9">
                                                <button class="btn btn-default">下载</button>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">支持语言：</label>
                                            <div class="col-sm-9">
                                                 <select  class="form-control" data-ng-model="supportLanguage" disabled>
                                                    <option value="1" ng-selected="app.supportLanguage==1">简体中文</option>
                                                    <option  value="2" ng-selected="app.supportLanguage==2">繁体中文</option>
                                                    <option  value="3" ng-selected="app.supportLanguage==3">英文</option>
                                                </select> 
                                            </div>
                                        </div>


                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">资费类型：</label>
                                            <div class="col-sm-9">
                                                 <select  class="form-control" data-ng-model="tariffType" disabled>
                                                    <option value="1" ng-selected="app.tariffType==1">功能付费</option>
                                                    <option  value="2" ng-selected="app.tariffType==2">免费软件</option>
                                                    <option  value="3" ng-selected="app.tariffType==3">免费试用</option>
                                                    <option  value="4" ng-selected="app.tariffType==4">部分功能付费</option>
                                                    <option  value="5" ng-selected="app.tariffType==5">部分内容付费</option>
                                                    <option  value="6" ng-selected="app.tariffType==6">内容付费</option>
                                                </select> 
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">下载所需的钱：</label>
                                            
                                            <div class="col-sm-9">
                                                <input class="form-control" ng-model="app.downloadMoney" disabled>
                                            </div>
                                        </div>



                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">应用简介：</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" ng-model="app.introduction" cols="40" rows="10" disabled></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">当前版本介绍：</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" ng-model="last.introduction" cols="40" rows="10" disabled></textarea>
                                            </div>
                                        </div>


                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">支持系统：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="adminPsd" ng-model="last.supportSys" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">隐私权限说明：</label>
                                            <div class="col-sm-9">
                                           <!--  <button class="btn btn-info" style="left: 300px;position: relative;top: 35px;" ng-click="addPrivace()">添加</button> -->
                                                <textarea class="form-control" ng-model="app.privacy" cols="40" rows="10" placeholder="请输入权限说明，每条以分号分割" disabled></textarea>
                                            </div>
                                        </div>


                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">应用图标：</label>
                                            <div class="col-sm-9">
                                                <img src="{{last.logo}}">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">应用截图：</label>
                                            <div class="col-sm-9">
                                                <img src="{{image.imageUrl}}" ng-repeat="image in images" style="width: 100px;height: 100px">
                                            </div>
                                        </div>


                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">审核辅助说明（选填）：</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" ng-model="app.examineExplain" cols="40" rows="10" placeholder="最多不超过400字。" disabled></textarea>
                                            </div>
                                        </div>


                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">发布时间</label>
                                            <div class="col-sm-9">
                                                 <select  class="form-control" data-ng-model="publishType" disabled>
                                                    <option value="1" ng-selected="app.publishType==1">审核后立即发布</option>
                                                    <option  value="2" ng-selected="app.publishType==2" >定时发布</option>
                                                </select> 
                                            </div>
                                        </div>

                                         <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">审核状态：</label>
                                            <div class="col-sm-9">
                                                <p ng-if="app.examineStatus==1" style="font-size: 16px;">审核通过</p>
                                                 <p ng-if="app.examineStatus==2" style="font-size: 16px;">未审核</p>
                                                  <p ng-if="app.examineStatus==3" style="font-size: 16px;">审核失败</p>
                                            </div>
                                        </div>
                                            
                                        <!-- <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">审核时间：</label>
                                            <div class="col-sm-9">
                                                <p style="font-size: 16px;">{{app.examinDate}}</p>
                                            </div>
                                        </div> -->


                                         <div class="form-group clearfix">
                                            <!-- <label for="" class="col-sm-3 control-label">审核人：</label> -->
                                            <div class="col-sm-6"></div>
                                            <div class="col-sm-3">
                                                <button class="btn btn-primary" ng-click="exmainPass()">审核成功</button>
                                                <button class="btn btn-primary" ng-click="exmainFail()">审核失败</button>
                                            </div>
                                        </div>
                                    </form>
                                </md-content>
                                <div class="col-md-12">
                                <!-- <table class="table table-bordered table-striped table-responsive" >
            <thead>
            <tr>
               

                <th><div class="th">
                图标
                </div></th>

                <th><div class="th">
                包名
                </div></th>

                <th><div class="th">
                版本名称
                </div></th>

                <th><div class="th">
                版本号
                </div></th>

                <th><div class="th">
                日期
                </div></th>
                <th><div class="th">
                    操作
                </div></th>
            </tr>
            
            </thead>

            <tbody>
                <tr data-ng-repeat="store in historyVersions">
                    <td>
                        <img src="{{store.logo}}">
                    </td>
                    
                    <td ng-bind="store.packageName"></td>

                    <td ng-bind="store.versionName"></td>

                    <td ng-bind="store.versionNumber"></td>

                    <td ng-bind="store.createDate"></td>

                    
                  
                </tr>
            </tbody>
            
        </table> -->
                            </div>

            
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
