
<div class="page page-table" ng-controller="SWOTCtrl">

    <div class="row ui-section">
    <div class="col-md-12">
        <div class="col-md-8 clearfix">
            <h2 class="section-header">SWOT</h2>
        </div>
        <div class="col-md-8 clearfix"> 
            <!-- <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">返回</md-button><div class="divider"></div> -->
        </div>
    </div>
    <div class="col-md-12" ng-show="isShow==1" >
        <section class="panel panel-default table-dynamic">
          <div class="table-filters">
            <div class="row">
            <div class="col-sm-12 col-xs-12" >
                <form class="user_list_header">

                    <label class="col-sm-2 col-xs-2">
                        <span >行业：</span>
                        <select class="" ng-model="industryId" data-ng-change="search()">
                            <option value="">不限</option>
                            <option value="{{industry.industryId}}" ng-repeat="industry in industryList">{{industry.name}}</option>
                         </select>
                    </label>

                    <label class="col-sm-2 col-xs-2">
                        <span >模块：</span>

                        <select class="" ng-model="moduleId" data-ng-change="search()">
                             <option value="">不限</option>
                                                    <option value="{{module.moduleId}}" ng-repeat="module in moduleList">{{module.moduleName}}</option>
                                                </select>
                    </label>

                </form>
            </div>

            <div class="col-md-4 clearfix">
                <a class=" md-primary add-product" href="#/taskReward/swot-add">添加规则</a>
                <a class=" md-primary add-product" href="#/taskReward/swot-common-list">通用规则</a>
                <!-- <a class=" md-primary add-product"  ng-click="deleteList()" >批量删除</a> -->
            </div>
            
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
            <!-- <th><div class="th">
                <md-checkbox ng-click="selectAll()" ng-checked="isSelectedAll">全选</md-checkbox>
                </div></th> -->
                <th><div class="th">
                ID
                </div></th>
                <th><div class="th">
                类型
                </div></th>
                <th><div class="th">
                建议
                </div></th>

                <th><div class="th">
                创建时间
                </div></th>
                <th><div class="th">
                操作
                </div></th>
            </tr>

            </thead>
            <tbody>
              <tr data-ng-repeat="store in currentPageStores" class="delete-{{store.swotId}}">
                <!-- <td> <md-checkbox ng-click="selectItem(store.taskRewardId)" ng-checked="selected[store.taskRewardId]"></md-checkbox></td> -->
                <td ng-bind="store.swotId"></td>
                <td>
                    <p ng-show="store.type==1">S</p>
                    <p ng-show="store.type==2">W-A</p>
                    <p ng-show="store.type==3">W-B</p>
                    <p ng-show="store.type==4">O</p>
                    <p ng-show="store.type==5">T-A</p>
                    <p ng-show="store.type==6">T-B</p>
                </td>
                <td ng-bind="store.advise"></td>   
                <td ng-bind="store.createdDate"></td>    
                <td class="opertation">
                    <a href="#/taskReward/swot-change?id={{store.swotId}}">编辑</a>
                    <a href="" ng-click="deleteTaskReward(store.swotId)">删除</a>
                </td>
              </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                    显示 
                    <select data-ng-model="numPerPage"
                        data-ng-options="num for num in numPerPageOpt"
                        data-ng-change="onNumPerPageChange()">
                    </select>
                        条 
                        当前页{{filteredStores.length}}条/总{{total}}条
                    </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="total"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        
        </section>
    </div>
    </div>
    
</div>
<style>
    .birthInput{
        width: 100px;
    }
</style>