



<section class="page-form-ele page" ng-controller="AddBannerCtrl">


    <div class="row ui-section" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header">添加广告</h2> </div>
        <!-- <div class="col-lg-8 clearfix"> 
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">返回</md-button><div class="divider"></div>
        </div> -->
        <div class="col-md-12" ng-show="isShow==1">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row banner-detail" >
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm">


                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">平台：</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" ng-model="platform">
                                                    <option value="1">移动Android</option>
                                                    <option value="2">IOS</option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group clearfix" ng-show="platform==1||platform==2">
                                          <label for="" class="col-sm-3 control-label">应用名称：</label>
                                          <div class="col-sm-9">
                                              <input class="form-control" class="userId" ng-model="appName" ng-change="searchApp()" style="width: 300px;font-size: 10px;" placeholder="通过应用名称搜索">

                                              <ul style="overflow: auto;width: 300px;height: 100px" ng-if="searchShow==1">
                                                <li ng-repeat="app in appInfo" id="app-{{app.appId}}" ng-click="clickContent(app.appId)" ng-mouseover="mouseOver(app.appId)" ng-mouseleave="mouseLeave(app.appId)">{{app.name}}</li>
                                              </ul>
                                          </div>
                                        </div>
                                        
                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">轮播顺序：</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" ng-model="banner.bannerLocation" >
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                            </div>
                                        </div>



                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">上传图片：</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="bannerFile" ng-model="banner.file" accept="image/*" multiple ng-submit="doUploadPhoto()" onchange="angular.element(this).scope().doUploadPhoto(this)">
                                                <ul class="img-list"  style="height: 100px;"> </ul>
                                            </div>
                                        </div>

                                        <!-- <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">跳转链接：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" ng-model="banner.LinkUrl">
                                            </div>
                                        </div> -->

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">状态：</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" ng-model="banner.activated" >
                                                    <option value="1">启用</option>
                                                    <option value="2">禁用</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div layout layout-sm='column' class="changeConfirm add-btn" style="margin-left: 189px;margin-top: 50px;">
                                            <md-button class="md-raised btn-w-md md-primary" ng-click="addBanner()">确定添加</md-button><div class="divider"></div>
                                        </div>
                                    </form>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
<style>
    .img-list li{position: relative;display: inline-block;width: 50px;height: 50px;margin: 5px 5px 0px 0px;border: 1px solid rgb(100,149,198);background: #fff no-repeat center;background-size: cover;}
    .img-list li a{
        position: absolute;top:12px;left: 16px;font-size: 27px;
    }
    
</style>