    

<section class="page-form-ele page" ng-controller="AddApplicationCtrl">


    <div class="row ui-section">
        <div class="col-lg-8 clearfix"> <h2 class="section-header">添加资料</h2> </div>

        <div class="col-md-8 clearfix"> 
            <md-button class="md-raised btn-w-md md-primary changeClick" ng-click="backClick()">返回</md-button><div class="divider"></div>
        </div>
        
        <div class="col-md-12" ng-show="isShow==1">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row banner-detail" >
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <md-content layout-padding>
                                    <form name="userForm">
                                        
                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">标题：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="adminPsd" ng-model="title">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">模块：</label>
                                            <div class="col-sm-9">
                                                <select ng-model="moduleId">
                                                    <option ng-repeat="module in moduleList" value="{{module.moduleId}}">{{module.moduleName}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">付费形式：</label>
                                            <div class="col-sm-9">
                                                <select ng-model="payType">
                                                    <option value="1">免费</option>
                                                    <option value="2">企业</option>
                                                    <option value="3">会员</option>
                                                    <option value="4">付费</option>
                                                </select>
                                                <!-- <span><input type="radio" name="payType" value="1">免费&nbsp&nbsp&nbsp</span>
                                                <span><input type="radio" name="payType" value="2">企业&nbsp&nbsp&nbsp</span>
                                                <span><input type="radio" name="payType" value="3">会员&nbsp&nbsp&nbsp</span>
                                                <span><input type="radio" name="payType" value="4">付费&nbsp&nbsp&nbsp</span> -->
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">价格：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="adminPsd" ng-model="price">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">积分：</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" class="adminPsd" ng-model="point">
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">分类：</label>
                                            <div class="col-sm-9">
                                               <!-- <input type="radio" name="type" value="1">视频
                                               <input type="radio" name="type" value="2">文件 -->
                                               <select ng-model="type">
                                                    <option value="1">视频</option>
                                                    <option value="2">文件</option>
                                                    <!-- <option value="3">会员</option>
                                                    <option value="4">付费</option> -->
                                                </select>
                                            </div>
                                        </div>


                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">内容</label>
                                            <div class="col-sm-9">
                                              <div id="editor"></div>
                                            </div>
                                        </div>

                                        <div class="form-group clearfix">
                                            <label for="" class="col-sm-3 control-label">上传文件</label>
                                            <div class="col-sm-9">
                                                <input type="file" class="bannerFile" ng-model="banner.file" accept="image/*" multiple ng-submit="doUploadPhoto()" onchange="angular.element(this).scope().doUploadPhoto(this)">
                                                <ul class="img-list"  style="height: 100px;"> </ul>
                                            </div>
                                        </div>
                                        
                                        <div layout layout-sm='column' class="changeConfirm add-btn">
                                            <md-button class="md-raised btn-w-md md-primary" ng-click="addInfo()">提交审核</md-button><div class="divider"></div>
                                        </div>

                                    </form>
                                </md-content>
                            </div>
                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</section>
