
<div class="page page-table" ng-controller="CompleteTaskCtrl">

    <div class="row ui-section">
    <div class="col-md-12">
        <div class="col-md-8 clearfix">
            <h2 class="section-header">分成总览</h2>
        </div>
        
    </div>
    <div class="col-md-12" ng-show="isShow == 1">
        <section class="panel panel-default table-dynamic">
          <div class="table-filters">
            <div class="row">
            <div class="col-sm-12 col-xs-12" >
                <form class="deal_list_header user_list_header">
                    
                   <label class="col-sm-3 col-xs-1">
                        <span >交易ID:</span>
                        <input type="text" id="dealId" placeholder="输入交易ID" class="border-radius-5 border-default ml-10 input-default input-w-50"
                        data-ng-model="kwDealId" data-ng-keyup="search()">
                    </label> 

                    <label class="col-sm-3 col-xs-4">
                        <span >用户ID:</span>
                        <input type="text" id="deal" placeholder="输入用户ID" class="border-radius-5 border-default ml-10 input-default input-w-50"
                        data-ng-model="kwUserId" data-ng-keyup="search()">
                    </label> 
                    <label class="col-sm-3 col-xs-4">
                        <span >用户手机:</span>
                        <input type="text" id="deal" placeholder="输入用户手机号" class="border-radius-5 border-default ml-10 input-default input-w-50"
                        data-ng-model="kwUserMobile" data-ng-keyup="search()">
                    </label>
                    <label class="col-sm-5 col-xs-5">
                        <span >订单时间:</span>
                        <input type="text" id="dateInput" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="border-radius-5 border-default ml-10 input-default input-w-50"
                        data-ng-model="KwStartTime"  onchange="" data-ng-keyup="search()" placeholder="年-月-日 时-分-秒">
                        <span>-</span>
                        <input type="text" id="dateInput1" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" class="border-radius-5 border-default ml-10 input-default input-w-50"
                        data-ng-model="KwEndTime" onchange="" data-ng-keyup="search()" placeholder="年-月-日 时-分-秒">                
                    </label>

                    <div class="col-sm-1 col-xs-1 search" data-name="search" data-code="f1c3" ng-click="search()" >
                        <i class="zmdi zmdi-search"></i>
                    </div>

                    <label class="col-sm-4 col-xs-4" style="margin-left: 70px;">
                        <span >支付方式</span>
                        <select name="select" id="payType" data-ng-change="search()" data-ng-model="kwPayType">
                          <option value="" >全部</option>
                            <option value="1">支付宝</option>
                            <option  value="2">余额</option>
                        </select>
                    </label>
                    
                </form>
            </div>

            <div class="col-md-4 clearfix">
                <!-- <a class=" md-primary add-product" href="#/deal/deal-add">添加交易</a> -->
                <a class=" md-primary add-product"  ng-click="deleteList()" >批量删除</a>
            </div>
            
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
            <th><div class="th">
                <md-checkbox ng-click="selectAll()" ng-checked="isSelectedAll">全选</md-checkbox>
                </div></th>
                <th><div class="th">
                交易ID
                </div></th>
                <th><div class="th">
                用户ID
                </div></th>
                <th><div class="th">
                用户手机
                </div></th>
                <th><div class="th">
                约会类型
                </div></th>
                <th><div class="th">
                交易金额
                </div></th>
                <!-- <th><div class="th">
                发单方经纪人收益
                </div></th>
                <th><div class="th">
                发单方邀请人收益
                </div></th>
                <th><div class="th">
                接单方经纪人收益
                </div></th>
                <th><div class="th">
                接单方邀请人收益
                </div></th>
                <th><div class="th">
                接单方收益
                </div></th>
                <th><div class="th">
                平台收益
                </div></th> -->
                <th><div class="th">
                创建时间
                </div></th>
                <th><div class="th">
                操作
                </div></th>
            </tr>

            </thead>
            <tbody>
              <tr data-ng-repeat="store in currentPageStores" class="delete-{{store.dealId}}">
                <td> <md-checkbox ng-click="selectItem(store.dealId)" ng-checked="selected[store.dealId]"></md-checkbox></td>
                <td ng-bind="store.dealId"></td>
                <td ng-bind="store.userId"></td>
                <td ng-bind="store.userMobile"></td>
                <td ng-bind="store.taskTitle"></td>
                <td ng-bind="store.price"></td>
                <!-- <td ng-bind="store.price /10"></td>
                <td ng-bind="store.price /10"></td>
                <td ng-bind="store.price /10"></td>
                <td ng-bind="store.price /2"></td>
                <td ng-bind="store.price /10"></td> 
                <td ng-bind="store.price /10"></td>  -->
                <td ng-bind="store.createdDate | date:'yyyy-MM-dd HH:mm:ss'"></td>
                <td class="opertation">
                    <!-- <a href="#/deal/deal-change?id={{store.dealId}}">编辑</a> -->
                    <a href="" ng-click="deleteDeal(store.dealId)">删除</a>
                    <a href="#/deal/deal-detail?id={{store.dealId}}&pageType=1">详情</a>
                    <a href="#/deal/divide-into-list?id={{store.dealId}}&pageType=2">分成</a>
                </td>
              </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                显示 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select>
                条 
                当前页{{filteredStores.length}}条/总{{total}}条
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="total"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>
<style>
    .birthInput{
        width: 100px;
    }
</style>