
<div class="page page-table" ng-controller="AppraiseCtrl">

    <div class="row ui-section">
    <div class="col-md-12">
        <div class="col-md-8 clearfix">
            <h2 class="section-header">评价列表</h2>
        </div>
        
    </div>
    <div class="col-md-12" >
        <section class="panel panel-default table-dynamic">
          <div class="table-filters">
            <div class="row">
            <div class="col-sm-12 col-xs-12" >
                <form class="appraise_list_header">
                    
                   <label class="col-sm-3 col-xs-1">
                        <span >被评价者ID:</span>
                        <input type="text" id="toUserId" placeholder="被评价者ID" class="border-radius-5 border-default ml-10 input-default input-w-50"
                        data-ng-model="kwToUserId" data-ng-keyup="search()">
                    </label> 

                    <label class="col-sm-3 col-xs-4">
                        <span >评价等级:</span>
                        <input type="text" id="appraiseLevel" placeholder="评价等级" class="border-radius-5 border-default ml-10 input-default input-w-50"
                        data-ng-model="kwAppraiseLevel" data-ng-keyup="search()">
                    </label> 
                </form>
            </div>

            <div class="col-md-4 clearfix">
                <a class=" md-primary add-product"  ng-click="deleteList()" >批量删除</a>
            </div>
            
            </div>
        </div>

        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
            <th><div class="th">
                <md-checkbox ng-click="selectAll()" ng-checked="isSelectedAll">全选</md-checkbox>
                </div></th>
                <th><div class="th">
                评价ID
                </div></th>
                <th><div class="th">
                订单ID
                </div></th>
                <th><div class="th">
                评价者ID
                </div></th>
                <th><div class="th">
                被评价者ID
                </div></th>
                <th><div class="th">
                评价等级
                </div></th>
                <th><div class="th">
                评价标签
                </div></th>
                <th><div class="th">
                评价内容
                </div></th>
                <th><div class="th">
                评价类型
                </div></th>
                <th><div class="th">
                操作
                </div></th>
            </tr>

            </thead>
            <tbody>
              <tr data-ng-repeat="store in currentPageStores" class="delete-{{store.appraiseId}}">
                <td> <md-checkbox ng-click="selectItem(store.appraiseId)" ng-checked="selected[store.appraiseId]"></md-checkbox></td>
                <td ng-bind="store.appraiseId"></td>
                <td ng-bind="store.taskId"></td>
                <td ng-bind="store.fromUserId"></td>
                <td ng-bind="store.toUserId"></td> 
                <td ng-bind="store.appraiseLevel"></td> 
                <td ng-bind="store.appraiseLable"></td> 
                <td ng-bind="store.appraiseText"></td> 
                <td ng-bind="store.appraiseType |parseAppraiseType"></td>          
                <td class="opertation">
                    <a href="" ng-click="deleteAppraise(store.appraiseId)">删除</a>
                </td>
              </tr>
            </tbody>
        </table>

        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                显示 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select>
                条 
                当前页{{filteredStores.length}}条/总{{total}}条
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="total"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>
<style>
    .birthInput{
        width: 100px;
    }
</style>