
<div class="page page-table" ng-controller="RoleCtrl">

    <div class="row ui-section">
    <div class="col-md-12">
        <div class="col-md-8 clearfix">
            <h2 class="section-header">角色列表</h2>
        </div>
        
    </div>
    <div class="col-md-12" ng-if="isListRole == 1">
        <section class="panel panel-default table-dynamic">
          <!-- <div class="table-filters">
            <div class="row">
            <div class="col-sm-12 col-xs-12" >
               <form class="user_list_header">
                        <label class="col-sm-3 col-xs-3">
                        <span >角色名称:</span>
                        <input type="text" id="kwRoleName" placeholder="请输入角色名称" class="border-radius-5 border-default ml-10 input-default input-w-50" data-ng-model="kwRoleName" data-ng-keyup="search()">
                    </label> 
                </form>
            </div>
            <div class="col-md-4 clearfix">    
            <a class=" md-primary add-product" href="#/role/role-add" ng-if="isAddRole == 1" >添加角色</a>
                  </div>
            </div>
                  </div> -->
        <table class="table table-bordered table-striped table-responsive">
            <thead>
            <tr>
                <th><div class="th">
                角色ID
                </div></th>
                <th><div class="th">
                角色名称
                </div></th>
                <th><div class="th">
                角色权限说明
                </div></th>
                <th><div class="th">
                操作
                </div></th>
            </tr>
          
            
            </thead>


            <tbody>
                <tr data-ng-repeat="store in currentPageStores" class="delete-{{store.roleId}}">
                <td ng-bind="store.roleId"></td>
                <td ng-bind="store.roleName"></td>
                <td ng-bind="store.description"></td>
                <td class="opertation">
                <a href="#/role/role-change?id={{store.roleId}}&&name={{store.roleName}}" ng-show="isEditRole == 1">修改权限</a> 
                <a href="" ng-click="deleteRole(store.roleId)" ng-if="isDeleteRole == 1">删除</a></td>

            </tr>
            </tbody>
            
        </table>


        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                显示 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select>
                条 
                当前页{{filteredStores.length}}条/总{{total}}条
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <uib-pagination class="pagination-sm"
                    ng-model="currentPage"
                    total-items="total"
                    max-size="4"
                    ng-change="select(currentPage)"
                    items-per-page="numPerPage"
                    rotate="false"
                    previous-text="&lsaquo;" next-text="&rsaquo;"
                    boundary-links="true"></uib-pagination>
            </div>
            </div>
        </footer>
        </section>
    </div>
    </div>
    
</div>